/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #ffffff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #000000;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #ffffff;
}

/* An optional height of the navbar AFTER scroll */
.navbar .navbar-scroll .navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.intro{
    padding: 3%;
}

#redes-sec{
  margin-top: 3%;
}

#conteudo{
  padding: 10%;
}

#lp, #lp_sec{
  margin-top: 1%;
}

#img_lp{
  margin-top: 4%;
}

#carousel-size{
  width: 110vh;
  margin: 2% 20%;
}

#carousel-size_2{
  width: 100vh;
  margin: 2% 20%;
}

.cards-projetos{
  display: flex;
}

#redes_img{
  margin-top: 5%;
}

@media (max-width: 1204px) {
  #carousel-size{
    margin: 2% 2%;
  }

  #carousel-slider1{
    margin: 2% 2%;
  }
}

#ft_db, #ft_db_universidade{
  margin-left: 25%;
}

#ft_seminario{
  margin-left: 50%;
}

@media (max-width: 450px) {
  #ft_seminario,  #ft_db, #ft_db_universidade, #bd_img{
    margin-left: 1%;
  }
}

@media (max-width: 768px) {
  #ft_seminario, #ft_db, #ft_db_universidade, #bd_img{
    margin-left: 1%;
  }
}
#bd_img{
  margin-top: 3%;
}

#bd-sec{
  margin-top: 3%;
}